agm-map{
    height: 400px
}
.center{
    text-align: center;
}

 .formElement{
    padding: 15px 0;
 }
 .forStages{
    width: 150px;
 }
 .forButtons{
    padding: 10px 10px 10px 10px;
}
.breakBefor{
    margin-top:2em;
}