<div class="center" *ngIf="quest">
    <h1>
        {{quest.QuestName}} ({{quest.Status}})
    </h1>
    <h3 *ngIf="0>quest.Cheats">
        Completed
    </h3>
    <div *ngIf="quest.IsOwner">
        <span class="forButtons">
            <button mat-raised-button color="primary" *ngIf="quest.Status=='Not Started'"
                (click)="Start()">Start</button>
        </span>
        <span class="forButtons">
            <button mat-raised-button color="primary" *ngIf="quest.Status=='Started'" (click)="End()">End</button>
        </span>
        <span class="forButtons">
            <button mat-raised-button color="warn" (click)="Delete()">Delete</button>
        </span>
        <div>
            Code : {{quest.Code}}
        </div>
    </div>
    <div *ngIf="!quest.IsOwner && quest.Cheats>=0 && quest.Status=='Started'">
        <form #enterCodeForm="ngForm" (ngSubmit)="EnderCode(enterCodeForm)">
            <mat-form-field appearance="fill">
                <mat-label>
                    Enter code
                </mat-label>
                <input matInput required #codeInput="ngModel" ngModel name="Code" type="text">
                <mat-error *ngIf="enterCodeForm.invalid">Code is required</mat-error>
            </mat-form-field>
            <span class="forButtons">
                <button mat-raised-button color="primary" [disabled]="enterCodeForm.invalid">Enter</button>
            </span>
        </form>
        <mat-error *ngIf="isCodeInValid">Invalid code</mat-error>
    </div>
    <div>
        <div *ngIf="quest.Cheats>0 && quest.Status=='Started' && !quest.IsOwner">
            <span class="forButtons">
                <button mat-raised-button color="primary" (click)="Cheat()">Cheat</button>
            </span>
        </div>
        
    </div>
    <div>
        Number of players : {{quest.PlayerCount}}
    </div>
    <div *ngIf="quest.Cheats>=0">
        Cheats : {{quest.Cheats}}
    </div>
    <div *ngIf="!quest.IsOwner">
        <span class="forButtons">
            <button mat-raised-button color="warn" (click)="Leave()">Leave</button>
        </span>
    </div>
    <div class="breakBefor" *ngIf="quest.MapLat && quest.MapLon">
        <agm-map [latitude]="quest.MapLat" [longitude]="quest.MapLon">
            <agm-marker [latitude]="quest.MapLat" [longitude]="quest.MapLon"></agm-marker>
        </agm-map>
    </div>
    <div>
        <input *ngIf="quest.Date" type="date" [disabled]="true" [value]="quest.Date.substr(0,10)">
        <input *ngIf="quest.Time" type="time" [disabled]="true" [value]="quest.Time">
    </div>
    <div>
        <mat-vertical-stepper [linear]="true" *ngIf="quest.Status!='Not Started || quest.IsOwner'">
            <div *ngFor="let stage of quest.Stages">
                <mat-step label="{{stage.Name}}" [completed]="stage.Description ? 'true' : 'false'">
                    <div *ngIf="stage.Description">
                        {{ stage.Description}}
                    </div>
                </mat-step>
            </div>
        </mat-vertical-stepper>
    </div>
</div>