<div class="center"*ngIf="quest">
    <h1>
        {{quest.QuestName}} ({{quest.Status}})
    </h1>
    <h3 *ngIf="0>quest.Cheats">
        Completed
    </h3>
    <div *ngIf="quest.IsOwner">
        <button mat-raised-button color="primary" *ngIf="quest.Status=='Not Started'" (click)="Start()">Start</button>
        <button mat-raised-button color="primary" *ngIf="quest.Status=='Started'" (click)="End()">End</button>
        <button mat-raised-button color="primary" (click)="Delete()">Delete</button>
        <div>
            Code : {{quest.Code}}
        </div>
    </div>
    <div *ngIf="!quest.IsOwner && quest.Cheats>=0 && quest.Status=='Started'">
        <form #enterCodeForm="ngForm" (ngSubmit)="EnderCode(enterCodeForm.value)">
            <div>
                <label>
                    Enter code
                </label>
                <input required #codeInput="ngModel" ngModel name="Code" type="text">
                <div *ngIf="enterCodeForm.invalid">Code is required</div>
                <div *ngIf="isCodeInValid">Invalid code</div>
            </div>
            <button mat-raised-button color="primary" [disabled]="enterCodeForm.invalid">Enter</button>
        </form>
    </div>
    <div>
        <div *ngIf="quest.Cheats>0 && quest.Status=='Started'">
            <button mat-raised-button color="primary" (click)="Cheat()">Cheat</button>
        </div>
        <div>
            <button mat-raised-button color="primary" (click)="Leave()">Leave</button>
        </div>
    </div>
    <div>
        Number of players : {{quest.PlayerCount}}
    </div>
    <div *ngIf="quest.Cheats>=0">
        Cheats : {{quest.Cheats}}
    </div>
    <div *ngIf="quest.MapLat && quest.MapLon">
        <agm-map [latitude]="quest.MapLat" [longitude]="quest.MapLon">
            <agm-marker [latitude]="quest.MapLat" [longitude]="quest.MapLon"></agm-marker>
        </agm-map>
    </div>
    <div>
        <input *ngIf="quest.Date" type="date" [disabled]="true" [value]="quest.Date.substr(0,10)">
        <input *ngIf="quest.Time" type="time" [disabled]="true" [value]="quest.Time">
    </div>
    <div class="forStages" fxLayout="row" fxLayoutAlign="end end">
    <mat-vertical-stepper  [linear]="true" *ngIf="quest.Status!='Not Started || quest.IsOwner'">
        <div *ngFor="let stage of quest.Stages"> 
        <mat-step label="{{stage.Name}}" [completed]="stage.Description ? 'true' : 'false'" >
            <div *ngIf="stage.Description">
                {{ stage.Description}}
            </div>
        </mat-step>
    </div>
    </mat-vertical-stepper>
</div>
</div>
