<form class="center" [formGroup]="eventForm" #createEventForm="ngForm" (ngSubmit)="CreateEvent(createEventForm.value)">
    <h1>Create quest</h1>
    <div class="formElement forStages">
        <mat-form-field class="forStages" appearance="fill">
            <mat-label>
                Quest's name
            </mat-label>
            <input matInput required minlength="6" type="text" formControlName="questName">
            <mat-error *ngIf="questName.invalid && questName.touched">
                Name must be at least 6 characters long
            </mat-error>
        </mat-form-field>
    
        <mat-form-field class="forStages" appearance="fill">
            <mat-label>
                Starting code
            </mat-label>
            <input matInput required type="text" formControlName="code">
            <mat-error *ngIf="code.invalid && code.touched">
                Code is required
            </mat-error>
        </mat-form-field>
    
        <mat-form-field class="forStages" appearance="fill">
            <mat-label>
                Number of cheats
            </mat-label>
            <input matInput required min="0" type="number" formControlName="cheats">
            <mat-error *ngIf="cheats.invalid && cheats.touched">
                Number of cheats must be a non-negative number
            </mat-error>
        </mat-form-field>
    </div>
    <div class="formElement">
    <div>
            <button  mat-raised-button color="primary" type="button"
                (click)="ToggleMap()">{{mapToggleButtonText}}</button>
            <agm-map *ngIf="showMap" [latitude]="latitude" [longitude]="longitude" lo (mapClick)="MapClick($event)">
                <agm-marker [latitude]="cursorLat" [longitude]="cursorLon" *ngIf="locationChosen"></agm-marker>
            </agm-map>
</div>
        <mat-form-field class="forStages" appearance="fill">
            <mat-label>
                Starting date (optional)
            </mat-label>

            <input matInput [matDatepicker]="picker" formControlName="date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field  class="forStages" appearance="fill">
            <mat-label>
                Starting time (optional)
            </mat-label>

            <input matInput type="time" formControlName="time">

        </mat-form-field>
    </div>
    <div formArrayName="stages">
        <div *ngFor="let stage of stageForms.controls; let i=index" [formGroupName]="i">
            <hr>

                <mat-form-field class="forStages" appearance="fill">
                    <mat-label>
                        Name
                    </mat-label>
                    <input matInput required type="text" formControlName="name">
                    <mat-error>Name is required</mat-error>           
                </mat-form-field>

                <mat-form-field class="forStages" appearance="fill">
                    <mat-label>
                        Description
                    </mat-label>
                    <textarea matInput required type="" formControlName="description"></textarea>
                    <mat-error>Description is required</mat-error>  
                </mat-form-field>

                <mat-form-field class="forStages" appearance="fill">
                    <mat-label>
                        Code
                    </mat-label>
                    <input matInput required formControlName="code">
                    <mat-error>Code is required</mat-error>
                </mat-form-field>

            <div class="formElement">
                <button mat-raised-button color="primary" (click)="deleteStage(i)">Delete</button>
            </div>
        </div>
        <div class="formElement">
            <button mat-raised-button color="primary" type="button" (click)="addStage()">Add stage</button>
        </div>
        <mat-error *ngIf="stageForms.length==0">
            At least 1 stage is required
        </mat-error>
    </div>

    <button mat-raised-button color="primary" [disabled]="createEventForm.invalid || stageForms.length==0">Create quest</button>
</form>