<h1>Change Password</h1>
<form #chagePasswordForm="ngForm" (ngSubmit)="ChangePassword(chagePasswordForm.value)">
    <div>
        <label>Password</label>
        <input required minlength="6" #passwordInput="ngModel" ngModel name="Password" type="password">
        <div *ngIf="passwordInput.invalid && passwordInput.touched">Password must be at least 6 characters long</div>
        <div *ngIf="WrongPasswordFlag">Invalid password</div>
    </div>
    <div>
        <label>New Password</label>
        <input required minlength="6" #newPasswordInput="ngModel" ngModel name="NewPassword" type="password">
        <div *ngIf="newPasswordInput.invalid && newPasswordInput.touched">New Password must be at least 6 characters long</div>
        <div *ngIf="passwordInput.value==newPasswordInput.value && newPasswordInput.touched && passwordInput.touched">The old and the new password should not be the same</div>
    </div>
    <div>
        <label>ReNewPassword</label>
        <input required minlength="6" #reNewPasswordInput="ngModel" ngModel name="ReNewPassword" type="password">
        <div *ngIf="newPasswordInput.value!=reNewPasswordInput.value && newPasswordInput.touched && reNewPasswordInput.touched">Password does not match</div>
    </div>
    <button [disabled]="chagePasswordForm.invalid || newPasswordInput.value!=reNewPasswordInput.value || passwordInput.value==newPasswordInput.value">Change Password</button>
</form>

