<form class="center" #chagePasswordForm="ngForm" (ngSubmit)="ChangePassword(chagePasswordForm.value)">
    <h1>Change Password</h1>
    <div class="formElement">
        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput required minlength="6" #passwordInput="ngModel" ngModel name="Password" type="password">
            <mat-error *ngIf="passwordInput.invalid && passwordInput.touched">Password must be at least 6 characters long
            </mat-error>
        </mat-form-field>
    </div>
    <div class="formElement">
        <mat-form-field appearance="fill">
            <mat-label>New Password</mat-label>
            <input matInput required minlength="6" #newPasswordInput="ngModel" ngModel name="NewPassword" type="password">
            <mat-error *ngIf="newPasswordInput.invalid && newPasswordInput.touched">New Password must be at least 6 characters
                long</mat-error>
            
        </mat-form-field>
    </div>
    <div class="formElement">
        <mat-form-field appearance="fill">
            <mat-label>ReNewPassword</mat-label>
            <input matInput required minlength="6" #reNewPasswordInput="ngModel" ngModel name="ReNewPassword" type="password">
            <mat-error
                *ngIf="newPasswordInput.value!=reNewPasswordInput.value && newPasswordInput.touched && reNewPasswordInput.touched">
                Password does not match</mat-error>
        </mat-form-field>
    </div>
    <mat-error
                *ngIf="passwordInput.value==newPasswordInput.value && newPasswordInput.touched && passwordInput.touched">
                The old and the new password should not be the same</mat-error>
    <mat-error *ngIf="WrongPasswordFlag">Invalid password</mat-error>
    <button mat-raised-button color="primary"
        [disabled]="chagePasswordForm.invalid || newPasswordInput.value!=reNewPasswordInput.value || passwordInput.value==newPasswordInput.value">Change
        Password</button>
</form>