<div class="center">
    <span class="forButtons">
        <button class="forButtons" mat-raised-button color="primary" routerLink="/create">Create quest</button>
    </span>
    <span class="forButtons">
        <button mat-raised-button color="primary" (click)="ToggleJoinForm()">Join quest</button>
    </span>
    <form *ngIf="showJoinForm" #joinForm="ngForm" (ngSubmit)="Join(joinForm.value)">
        <div>
            <label>
                Code
            </label>
            <input required #codeInput="ngModel" ngModel name="Code" type="text">
            <div *ngIf="codeInput.invalid && codeInput.touched">Please enter a code</div>
            <div *ngIf="invalidCode">Invalid code</div>
            <div *ngIf="alreadyJoined">Already joined this quest</div>
        </div>
        <button [disabled]="joinForm.invalid">Join</button>
    </form>
    <h1>My Quests</h1>
    <div>
        <div *ngFor="let myQuet of questList.MyQuests">
            <button mat-flat-button id="{{myQuet.Id}}" (click)="ClickedOnQuest($event)">
                <p id="{{myQuet.Id}}">{{myQuet.Name}} - {{myQuet.Status}}
            </button>
        </div>
    </div>
    <h1>Other Quests</h1>
    <mat-list>
        <mat-list-item *ngFor="let notMyQuet of questList.NotMyQuests">
            <a href="#" id="{{notMyQuet.Id}}" (click)="ClickedOnQuest($event)"> {{notMyQuet.Name}} -
                {{notMyQuet.Status}}</a>
        </mat-list-item>
    </mat-list>
</div>